.vector {
  float: left;
  height: 100%;
  width: 100%;
  transition: all 1s;
  position: relative;
  background-color: hsl(204, 77%, 30%);
}

.vector:hover {
  background-color: #2874A6;
}

.angel-opaque {
  background-color: rgba(255, 255, 255, 0.6)
}

.angel-transparent {
  background-color: transparent;
}

svg {
  position: absolute;

  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
}
polygon {
  fill: #222;
}
.vector > span {
  position: absolute;
  display: block;
  padding: 10px;  
  z-index: 1;
}

.vector.right > span{
  width: 50%;
  height: 100%;
  left: 5px;
  top: 5px;  
}

h3 {
  cursor: pointer;
  
}

h3:hover {
  color: rgba(255, 255, 255, 0.7);
}

h1, h2, h3, h4 {
  font-family: Verdana;
}



.portrait {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.defaultHide {
  display: none;
}

.cus-top {
  margin-top: 5%;
}

/*on mobile screen*/
@media (max-width: 991px)
{
  .mobileHide {
      display: none;
  }
  .mobileShow {
      display: block;
  }

  h1 {
    font-size: 23px
  }

  .cus-mobile{
    padding: 2px;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
  }

  .w3-ul li {
    padding: 2px;
  }

  .timeline h2 {
    font-size: 25px
  }

  .mobileFont {
    font-size: 23px;
  }

  .w3-xxlarge {
    font-size: 25px !important;
  }

/*  .w3-ul li:first-child {
      border-top: 1px solid #ddd;
  }

  .w3-ul li:last-child {
      border-bottom: 1px solid #ddd;
  }*/

  .cus-top {
    margin-top: 10%;
  }

}

/*on PC screen*/
@media (min-width: 991px)
{
  .pcHide {
      display: none;
  }

  .cus-move-up {
    margin-top: -350px
  }
}


a {
  text-decoration: none;
}

.w3-text-safety-blue {
  color: #2874A6;
}

.w3-hover-text-safety-blue:hover {
  color: hsl(205, 100%, 80%);
}


ul {
  list-style: none;
  padding: 0;
}

.bullet li {
  padding-left: 1.5em;
  border-bottom: none !important;
  
}

.bullet li:before {
  content: "\f111"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #2874A6;
}



.innergrid li {
  padding-left: 1.5em;
  border-bottom: none !important;
  
}

.innergrid li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #2874A6;
}
