.backgroundImg
	{
background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
/*background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");*/
opacity: 0.15
}

.backgroundImgThree
	{
background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
/*background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");*/
opacity: 0.17
}

.backgroundImgTwo
	{
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
/*background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");*/
opacity: 0.7
}


.backgroundImgFour
	{
background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
/*background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");*/
opacity: 1
}


.backgroundImgFive
	{
background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
/*background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");*/
opacity: 1
}
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */